@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredericka+the+Great&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format(opentype);
    font-weight: normal;
}



:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063e1e;

    --fonte-padrao : Arial, Verdana, Heveltica, sans-serif;
    --fonta-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;

}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
}

header > h1 {
    color: white;
    font-family: var(--fonta-destaque);
    padding-top: 0.9em;
    font-size: 2.1em;
    text-shadow: 0px 2px 2px black;
    font-weight: normal;
}

header > p {
    color: white;
    padding-top: 16px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 5px;
    font-size: 19px;
    max-width: 600px;
    margin: auto;
    text-shadow: 0px 2px 2px black;
}

nav {
    background-color: var(--cor5);
    text-align: center;
    box-shadow: 0px 9px 10px rgba(0, 0, 0, 0.616);
    padding: 10px;
    padding-bottom: 20px;
}

nav > a {
    text-decoration: none;
    color: white;
    padding:  10px 1em;

    font-weight: bold;
    transition-duration: 0.1s;

}

nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor5);
    border-radius: 12px;

}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    padding-top: 1em;
    padding-bottom: 20px;
    font-weight: normal;
}

main h2 {
    font-family: var(--fonte-android);
    padding-top: 3em;
    padding-bottom: 20px;
    color: var(--cor4);
    text-indent: 16px;
    font-weight: normal;
}

main {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: white;
    min-width: 300px;
    max-width: 900px;
    padding: 20px;
    box-shadow: 0px 0px 10px;
}

main img {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}
main p {
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: justify;
}

main a {
    color: var(--cor4);
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor3);
}

main strong {
    color: #063e1e;
}

div.video {
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

iframe {
    box-shadow: 0px 0px 20px 0px var(--cor4);
    border-radius: 20px;
}


main aside {
    background-image: linear-gradient(to top, var(--cor0), var(--cor2), var(--cor3) 90%);
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 07px var(--cor3);
    margin: 30px 10px;
}

aside h3 {
    font-family: var(--fonte-padrao);
    padding-bottom: 1em;
    text-align: center;
    background-color: var(--cor3);
    margin: -16px -16px 5px -16px;
    height: 4px;
}

aside p {
    padding: 10px;
}

aside ul {
    padding: 10px;
    line-height: 1.4em;
    list-style-position: inside;
    list-style-type: circle;
    columns: 2;
}


aside a {
    color: var(--cor1);
    background-color: var(--cor4);
    padding: 0px 5px 0px 5px;
}

aside a:hover {
    color: var(--cor5);
    background-color: var(--cor1);
}

footer {

    color: white;
    height: 5em;
}

footer > p {
    text-align: center;
    padding: 11px;
    text-shadow: 0px 0px 10px black;
}

footer a {
    color: var(--cor1);
    text-decoration: underline;
}

main img.pequeno {
    max-width: 300px;
    display: block;
    margin: auto;
    padding: 0px;
}

a.externo::after {
    content: '\00A0\1F517';
}